#bhavesh{
	width:600px;
	height: 400px;
	border:1px solid black;
	 color:white;
	background-image:url("https://www.globalfocusmagazine.com/wp-content/uploads/2020/02/Engaging_with_technology-scaled.jpg");
	
	background-size:100% 100%;
	text-align:center;
	#bhave{
		font-size:10px;
		
	}
	




	
}